.courses {
  background-image: url("../img/cources-bcg-mobile.jpg");
  background-position-y: 103px;
  background-repeat: no-repeat;
}

.courses__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.courses__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  margin-bottom: 30px;
}

.courses__wrapper {
  background-color: #ffffff;
  display: flex;
}

.courses__description {
  width: 207px;
  padding: 20px;
  box-shadow: 0 4px 25px 0 rgba(142, 128, 169, 0.2);
}

.courses__name {
  font-size: 12px;
  margin: 0;
}

.courses__instructor {
  width: 102px;
  color: #E65C7B;
}

.courses__link {
  flex-grow: 1;
  background-color: #8E80A9;
  background-image: url("../img/right-arr-icon.svg");
  background-size: 7px 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.courses__more-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .courses {
    margin-bottom: 100px;
  }

  .courses__title {
    padding-bottom: 40px;
  }

  .courses__list {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  .courses__item {
    margin-right: 22px;
    margin-bottom: 18px;

    &:first-child {
      float: left;
      width: 247px;
      min-height: 332px;
    }

    &:not(:first-child) {
      flex-direction: row;
      width: 354px;
      position: relative;

      .courses__link {
        width: 30px;
        position: absolute;
        padding: 10px 15px;
        right: 25px;
        bottom: 25px;
      }
    }
  }

  .courses__item:first-child .courses__img {
      width: 247px;
      height: 209px;
    }

  .courses__item:not(:first-child) .courses__img {
    width: 148px;
    height: 121px;
  }

  .courses__time {
    margin: 0 auto;
  }

  .courses__name {
    margin-bottom: 5px;
  }

  .courses__instructor {
    margin-bottom: 0;
    margin-top: 3px;
  }

  .courses__more-link {
    display: inline-block;
    color: inherit;
    text-align: center;
    padding: 10px 125px;
    margin-top: 18px;
    background-color: #FFFFFF;
    width: 351px;
    box-shadow: 0 4px 25px 0 rgba(142, 128, 169, 0.2);
  }
}

@media (min-width: $desktop-width) {
  .courses__item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:first-child {
      width: 366px;
      min-height: 332px;
    }

    &:not(:first-child) {
      width: 525px;

      .courses__link {
        width: 45px;
        padding: 15px 15px;
        right: 35px;
        bottom: 35px;
      }
    }
  }

  .courses__item:first-child .courses__img {
    width: 366px;
    height: 311px;
  }

  .courses__item:not(:first-child) .courses__img {
    width: 220px;
    height: 180px;
  }


  .courses__description {
    padding: 42px 40px 20px;
    width: 302px;
  }

  .courses__name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .courses__time {
    font-size: 12px;
  }

  .courses__instructor {
    margin-top: 10px;
    width: 123px;
    font-size: 12px;
  }

  .courses__more-link {
    width: 521px;
    font-size: 12px;
  }
}