.footer {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 35px;
  background-color: #8373A1;
  color: #FFFFFF;
  font-weight: normal;
}

.footer__block {
  margin-bottom: 30px;
  width: 181px;
}

.footer__block-title {
  font-size: 14px;
  margin: 0;
}

.footer__block-text {
  font-size: 12px;
}

.footer__social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 114px;
  margin-bottom: 40px;
}

.footer__copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.footer__dev-link {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 78px;
    padding-right: 200px;
  }

  .footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__block {
    width: 205px;
    margin-right: 30px;
  }

  .footer__block-title {
    font-size: 20px;
  }

  .footer__block-text {
    font-size: 16px;
  }
  
  .footer__social-list {
    justify-content: start;
    width: 100%;
    margin-bottom: 18px;
  }

  .footer__social-item {
    margin-right: 13px;
  }

  .footer__social-link{
    &--vk  img {
      width: 13px;
      height: 8px;
    }

    &--tw  img {
      width: 15px;
      height: 10px;
    }

    &--fb  img {
      width: 5px;
      height: 11px;
    }
  }

  .footer__info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }

  .footer__dev-link {
    margin-right: 45px;
  }
}
