.footer {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 35px;
  background-color: #8373A1;
  color: #FFFFFF;
  font-weight: normal;
}

.footer__block {
  margin-bottom: 30px;
  width: 181px;
}

.footer__block-title {
  font-size: 14px;
  margin: 0;
}

.footer__block-text {
  font-size: 12px;
}

.footer__social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 114px;
  margin-bottom: 40px;
}

.footer__copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.footer__dev-link {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
