.header {
  background-image: url("../img/header-bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 65px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu-text {
  display: none;
}

.header__contacts {
  font-size: 12px;
}

.header__menu-btn {
  width: 30px;
  height: 12px;
  background-image: url("../img/menu-icon.svg");
  background-size: 30px 12px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header__logo {
  margin: 100px 44px 25px;
  text-align: center;
}

.header__logo-img {
  margin-bottom: 27px;
}

.header__name {
  font-size: 67px;
  color: #ffffff;
  margin: 0 auto;
}

.header__trial-link {
  display: block;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: #E65C7B;
  width: 174px;
  margin: 0 auto;
  padding-left: 37px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 30px;
    height: 26px;
    background-color: #E65C7B;
    background-image: url("../img/right-arr-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding: 38px 75px 140px;
    background-image: url("../img/header-bcg-tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__menu-text {
    display: block;
    margin-left: 30px;
    color: #8B7EAC;
    font-size: 12px;
    line-height: 10px;
    font-family: "Geometria", "Arial", sans-serif;
  }

  .header__logo {
    margin-top: 70px;
  }

  .header__logo-img {
    width: 310px;
  }

  .header__name {
    font-size: 144px;
    letter-spacing: 50px;
    margin-top: 45px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .header__nav {
    font-size: 16px;
  }

  .header__logo-img {
    width: 582px;
    margin-bottom: 50px;
  }

  .header__name {
    font-size: 265px;
    letter-spacing: 90px;
    margin-top: 120px;
    margin-bottom: 150px;
  }
}