.page__container {
  margin: 0 auto;
}

.page__section-container {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.page__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}