.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
  margin-bottom: 73px;
}

.reviews__btn {
  padding: 0px 14px;
  background-color: transparent;
  border: 1px solid #8E80A9;

  &--active {
    background-color: #8E80A9;
  }
}

.reviews__pages-number {
  margin: 0;
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
  }

  .reviews__list {
    flex-direction: row;
  }

  .reviews__pages-number {
    display: none;
  }

  .reviews__btn {
    position: absolute;
    padding: 5px 20px;

    &--prev {
      left: 15%;
      top: 50%;
      background-color: #8E80A9;

      path {
        stroke: #FFFFFF;
      }
    }

    &--next {
      right: 15%;
      top: 50%;
    }
  }
}