.subscription__months-list {
  @include list-reset;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  width: 222px;
}

.subscription__months-btn {
  padding: 5px 0;
  font-size: 12px;
  color: #E65C7B;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &--active {
    border-bottom: 1px solid #E65C7B;
  }
}

.subscription__cards-list {
  @include list-reset;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscription__card {
  width: 250px;
  padding: 30px 51px;
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  box-shadow: 0 4px 25px 0 rgba(142, 128, 169, 0.2);
}

.subscription__card-title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 20px;
  font-weight: bold;
}

.subscription__card-time {
  display: block;
  margin: 0 auto;
  width: 77px;
  color: #E65C7B;
  line-height: 15px;
}

.subscription__card-price {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 25px;
}

.subscription__card-order-btn {
  display: block;
  background-color: #8E80A9;
  color: #FFFFFF;
  line-height: 20px;
  padding: 14px 23px;
}