.team {
  background-image: url("../img/team-bcg.png");
  background-repeat: no-repeat;
  margin-top: -70px;
  margin-bottom: 70px;
}

.team__title {
  margin-bottom: 40px;
}

.team__btn-wtapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__list {
  @include list-reset;
  order: 2;
}

.team__btn {
  padding: 12px 6px;
  background-color: transparent;
  border: 1px solid #8E80A9;

  &--prev {
    order: 1;
  }

  &--next {
    order: 3;
  }

  &--active {
    background-color: #8E80A9;
  }
}

.team__pages-number {
  display: none;
}

.team__member-about {
  margin: 0 30px;
}

.team__member-name {
  display: none;
}

.team__member-experiance {
  line-height: 20px;
  color: #E65C7B;
  margin-top: 20px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__title {
    width: 100%;
    flex-grow: 1;
  }

  .team__btn-wtapper {
    width: 260px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__list {
    order: 0;
    margin-bottom: 30px;
  }

  .team__btn {
    padding: 0 14px;

    &--prev {
      order: 1;
      margin-right: 10px;
      margin-left: auto;
    }
  
    &--next {
      order: 3;
      margin-left: 10px;
    }
  }

  .team__pages-number {
    display: block;
    order: 2;
  }

  .team__member-name {
    display: block;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
  }

  .team__member-about {
    width: 311px;
    margin-left: 50px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .team__btn-wtapper {
    width: 422px;
    margin-top: 100px;
  }

  .team__list {
    width: 378px;
    margin-bottom: 44px;
  }

  .team__member-about {
    margin-top: 78px;
  }

  .team__member-name {
    font-size: 18px;
  }

  .team__member-experiance, 
  .team__member-description {
    font-size: 12px;
  }

  .team__pages-number {
    font-size: 12px;
  }
}
