@font-face {
  font-weight: medium;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/geometria.woff2") format("woff2"), url("../fonts/geometria.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/geometria.woff2") format("woff2"), url("../fonts/geometria.woff") format("woff");
}
